<div class="table-responsive">
    <table class="table" >
      <thead class="table-dark">
          <tr>
              <th >Customer Id</th>
              <th >Amount</th>
              <th >Start Date</th>
              <th >Maturity Date</th>
              <th >Payment Term</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor ="let loan of loans | paginate:{
              itemsPerPage: tableSize,
              currentPage: page,
              totalItems: count}; let i = index" [routerLink]="['/schedule',loan.customerId]">
              <td >{{loan.customerId}}</td>
              <td>{{loan.loanAmount}}</td>
              <td>{{loan.loanStartDate}}</td>
              <td>{{loan.maturityDate}}</td>
              <td>{{loan.payment}}</td>
              
              <!-- <td><button type="button" (click)="onConfirm(loan.customerId)" class="btn btn-success">schedule</button></td> -->
            </tr>
      </tbody>
    </table>
    <div class="pagination">
      <div >
        <select class="form-select mb-3" (change)="onTableSizeChange($event)" aria-label="Default select example">
          <option selected>Table size</option>
          <option *ngFor="let size of tableSizes"> {{size}}</option>
        </select>
      </div>
      <div style="flex: 3;">
        <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="onTableDataChange($event)">
 
      </pagination-controls>
      
      </div>
      
    </div>
    <button class="btn btn-primary" style="margin-left: 20px;" routerLink="/home">Back</button>
  </div>

