<h2 style="color:white; background-color: rgb(0, 132, 255); text-align:center ;" >Loan Application</h2>
<div class="wrapper">
    <div class="box">
     <div class="single-box">
      <h3>New Loan</h3>
      <p> to create a new loan
      </p>
      <a routerLink="/create">CreateLoan</a>
     </div>
     <div class="single-box">
      <h3>Loan history</h3>
      <p>To print the loan history  </p>
      <a routerLink="/history">History</a>
     </div>
     <div class="single-box">
      <h3>Exit</h3>
      <p>To Exit from this page</p>
      <div >
      </div>
      <a routerLink="/exit">Exit</a>
     </div>
    </div>
   </div>
